

body
{
    display: flex;
    justify-content: center;
    align-items: center;
}

div{
    background: transparent;
}

.main-error-message
{
    background-color: var(--menu-background-color);
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 143px;
    border: 1px solid var(--menu-background-color);
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    box-shadow:  inset -1px -1px var(--menu-background-color-dark),inset 1px 1px white;

}

.error-title
{
    padding: 2px;
}
.title-bar-text
{
    padding: 2px;
}

.error-content
{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70px;
}
.error-footer
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;

}

.error-footer button
{
    margin-right: 5px;
}

.error-footer a
{
    text-decoration: none;
    color: black;
}

.error-footer a:focus
{
    border: none;
}


.error-content-left
{
    display: flex;
    justify-content: center;
    width: 50px;
    height: 100%;
    padding-top: 20px;
}

.error-content-left img
{
    width: 32px;
    height: 32px;
}

.error-content-right
{
    padding-top: 3px;
    width: 350px;
    height: 100%;
    font-size: 16px;
}

@media only screen and (max-width: 430px) {
    body
    {
        margin: 0;
    }
    .main-error-message
    {
        margin: 0 5px;
        width: 100%;
    }

    @media only screen and (min-height: 800px) {
            .main-error-message
            {
                width: 90%;
            }
            .error-content-right
            {
                padding-right: 5px;
            }
    }
}