.main-window
{
    width: 1000px;
    height: 750px;
    margin-left: 50px;
    background-color: var(--menu-background-color);
    border: 2px solid var(--menu-background-color);
    box-shadow: -2px 0px white, 0px -2px white,  -2px -2px white, 0px 2px black, 2px 0px black, 2px 2px black;

}

.app-tooltip
{
    width: 100%;
    height: fit-content;
    box-shadow: 0px 1px white, inset 0px -1px var(--menu-background-color-dark);
    padding-left: 3px;
    padding-bottom: 2px;
}

.app-tooltip .dropdown
{
    margin-left: 5px;
}

.app-tooltip .tooltips
{
    width: 92%;
    background-color: transparent;
}

.app-tooltip .tooltips button
{
    border: none;
    box-shadow: none;
    min-width: fit-content !important;
    padding: 0px;
    text-align: center;
    margin-top: 2px;
}

.app-tooltip .tooltips button span
{
   margin-left: 10px;
}

.app-tooltip .tooltips button:hover
{
    box-shadow: inset 1px 1px white, 1px 1px var(--menu-background-color-dark);
}

.app-tooltip .tooltips button:active
{
    box-shadow: inset 1px 1px black, 1px 1px white;
}

.app-tooltip .tooltips-logo
{
    background-color: black;
    width:8%;
    max-width: 10%;
    box-shadow: inset 1px 1px white, -1px -1px var(--menu-background-color-dark), 0 -1px white;
}


.tooltips .dropdown .dropdown-menu
{
    border-radius: 0px;
    background-color:  var(--menu-background-color);
    width: fit-content;
    min-width: fit-content;
    max-width: 40px;
    padding: 2px 2px;
    box-shadow: inset 1px 1px white, 1px 1px var(--menu-background-color-dark);
    
}




.app-tooltip .tooltips .dropdown .dropdown-menu .dropdown-item:hover
{
    
    background-color: #000082;
    color: white;
}


.main-window .divide
{
    align-self: center;
}

.main-window .app-tooltip .divide
{
    height: 20px;
}

.control-bar-parent
{
    padding: 5px 3px;
    padding-top: 3px;

}

.control-bar
{

    padding: 3px 0px;
    box-shadow: -1px -1px var(--menu-background-color-dark), inset 1px 1px white,
                 1px 1px white, inset -1px -1px var(--menu-background-color-dark);
    height: fit-content;
    min-height: fit-content;
    padding-top: 0px;
}

.control-bar span, .control-bar p
{
    font-size: 16px;
}

.app-tooltip a
{
    font-size: 16px;
}

.control-bar
{
    font-size: 12px;
}

.address-bar > span
{
    padding: 0 5px;
    pointer-events: none;
}

.address-bar
{
    margin-top: 3px;
    padding-left: 4px;
    padding-right: 10px;
}

.address-bar img
{
    padding-bottom: 2px;
}


.main-content-head
{
    padding: 3px;
}

.main-content
{
    box-shadow: inset 2px 2px black, 1px 1px white;
    background-color: white;
    padding: 1px;

}

.field-border
{
    padding-left: 4px;
    flex-wrap: nowrap;
}


.field-text
{
    display: inline-block;
}

.field-dropdown
{
    display: inline-block;
    height: 100%;
    
}
.field-dropdown img
{
    height: 24px;
}
.main-content-left
{
    min-width: 25%;
background: linear-gradient(318deg,rgba(255, 255, 255, 1) 72%, rgba(105, 237, 69, 0.22) 78%, rgba(65, 232, 19, 0.63) 86%, rgba(9, 173, 12, 0.95) 96%);
}
.main-content-left > div
{
    padding-top: 30px;
}

.main-content-left-title
{
    padding-left: 16px;
}

.main-content-left-title h1
{
    font-weight: bold;
}

.main-content-left-title > div
{
    margin-top: 10px;
}

/* Line */
.line
{
    height: 2px;
    width: 100%;
    content: "";
}

.line .red
{
    background-color: red;
}
.line .yellow
{
    background-color: yellow;
}
.line .green
{
    background-color: green;
}
.line .blue
{
    background-color: blue;
}

/* End line */

.main-content-left-subtitle
{
    margin-top: 20px;
    padding-left: 16px;
    padding-right: 5px;
    text-align: left;
}


.main-content-right > div
{
    padding: 5px;
}

.main-content-right .container .content-item 
{
    width: 120px;
    height: 130px;
}

.content-item a
{
    height: 100px;
    width: 100px;
    text-decoration: none;
    color: inherit;
}

.content-item a:focus p
{
    background-color: var(--item-selected-color);
    color: white;
}

.content-item a:focus img
{
    background-color: var(--item-selected-color);
}

.content-item a img
{
    height: 52px;
    width: 52px;
    margin-bottom: 5px;
}

.modal-content
{
    border-radius: 0px;
    border: 2px solid var(--menu-background-color);
    box-shadow: inset 1px 1px white, 1px 1px #252525;
    background-color: var(--menu-background-color);
    padding: 1px;
}

.modal-footer
{
    border: none;
}

.modal-body, .modal-footer
{
    background: none;
}

.window-3d
{
    border: 1px solid var(--menu-background-color);
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    box-shadow:  inset -1px -1px var(--menu-background-color-dark),inset 1px 1px white;


}

.main-window .title-bar-controls
{
    width: 27px;
    height: 23px;
    padding-right: 2px;
}

.main-window .title-bar-controls button
{
    height: 23px;
    width: 23px;
    width: 100%;
    background-position: top 6px left 4.6px;
    background-size: 12px;
}

.title-bar-text
{
    font-size: 16px;
}

.main-mobile-window
{
    display: none;
    background-color: var(--menu-background-color);
}


.mobile-top-window
{
    height: 10%;
}
.mobile-tooltip-window
{
    min-height: 10%;
    height: 10%;
    padding-left: 10px;
}

.mobile-tooltip-window button
{
    padding-right: 0px;
    height: 70px;
    width: 70px;
    text-align: center;
    font-weight: bold;
}
.mobile-tooltip-window .dropdown-menu a
{
    width: 100px;
    text-align: center;
}


.horizontal-divide
{
    height: 1px;
    border-top: 1px solid var(--menu-background-color-dark);
    border-bottom: 1px solid white;
    margin-left: 20px;
    width: 90%;
}

.cool-sidebar
{
    width: 12.448%;
    min-width: 12.448%;
    background: linear-gradient(180deg,rgba(0, 0, 130, 1) 57%, rgba(0, 0, 255, 1) 78%, rgba(0, 0, 255, 1) 82%, rgba(0, 0, 130, 0.99) 100%);
}

.cool-sidebar div
{
    transform: rotate(-90deg);
    margin-bottom: 30px;
    width: 100%;
}
.cool-sidebar h1
{
    font-weight: bold;
    color: white;
    width: 200px;
}

.mobile-content-title
{
    margin-top: 2px;
    padding-left: 10px;
}

.mobile-content-title img
{
    height: 60px;
    width: 60px;
}

.mobile-content-title .mobile-title-header
{
    margin-top: 20px;
    margin-left: 10px;
}

.mobile-menu-items 
{
    margin-top: 10px;
}

.mobile-menu-items .content-item
{
    width: 100%;
    margin-top: 20px;
}


.mobile-menu-items a div
{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.mobile-menu-items a img
{
    margin-bottom: 16px;
}

.mobile-menu-items a p
{
    margin-left: 20px;
    width: 100%;
    font-weight: 400;
    font-size: 24px;
}

@media only screen and (max-width: 600px) {
  .main-window {
    display: none;
  }

    .main-mobile-window
    {
        display: block;
    }


}

@media only screen and (max-width: 1370px) {
  .taskbar-side-panel-icons
  {
    display: none;
  }

  .taskbar-side-panel-time
  {
    width: 100%;
    text-align: end;
  }


}

@media only screen and (max-width: 1160px) {
    .main-window
    {
        margin-left: 0;
    }

}