:root
{
    --menu-background-color: #bdbdbd;
    --menu-background-color-dark:#7d7d7d;
    --menu-app-selected-color: #dcdcdc;
    --item-selected-color: #000082;
}

body, html
{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body{
    background-color: #0d7173;
}

.menu-body
{
    width: 100%;
    height: 100%;
}
.menu-taskbar
{
    height: fit-content;
    padding: 2px;
    width: 100%;
    background-color: var(--menu-background-color);
    
}

.divide-tiny{
    margin-left: 4px;
    background-color: var(--menu-background-color) ;
    border-left: 1px solid var(--menu-background-color-dark);
    border-right: 1px solid white;
    height: 100%;
    width: 2px;
}


.taskbar-app-chooser-app
{
    padding-left: 2px;
    height: inherit;

    width: 13em;
}

.taskbar-app-chooser-app img
{
    margin-bottom: 3px;
}
.taskbar-app-chooser-app.selected
{
    background-color: var(--menu-app-selected-color);
    font-weight: bold;
    box-shadow: inset -1px -1px #fff,inset 1px 1px #0a0a0a,inset -2px -2px #dfdfdf,inset 2px 2px grey;
}


.divide{
    margin-left: 2px;
    background-color: var(--menu-background-color) ;
    border-left: 1px solid white;
    border-top: 1px solid white;
    -webkit-box-shadow: 1px .5px 0px .5px var(--menu-background-color-dark);
    -moz-box-shadow: 1px .5px 0px .5px var(--menu-background-color-dark);
    box-shadow: 1px .5px 0px .5px var(--menu-background-color-dark);
    box-sizing:border-box;
    height: 20px;
    width: 3px;
}

.taskbar-start-btn
{
    min-width: 85px;
    max-width: 85px;
}
.taskbar-app-chooser
{
    display: flex;
    align-items: center;
    margin-left: 4px;
    height: 100%;
    width: 88%;
    padding: 2px;
}

.taskbar-side-panel
{
    width: 7%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: inset -1px -1px #fff,inset 1px 1px grey,inset -2px -2px #dfdfdf,inset 2px 2px grey;
    padding: 0px 5px;
    margin-left: 4px;
    text-align: right;
}

.taskbar-side-panel-icons
{
    display: flex;
    align-items: flex-start;
    width: 65%;
    min-width: 45;
}

.taskbar-side-panel-icons img
{
    margin: 2px;
}
.taskbar-side-panel-time
{
    width: 20%;
    min-width: 20%;
}

#start-btn img
{
    width: 16px;
    height: 16px;
    margin-bottom: 3px;
    align-items: center;

}

#start-btn:active img
{
    margin-left: 3px;

}